{% extends "layouts/base.html" %}

{% block title %} UI Notification {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
                
    <main class="content">

        {% include 'includes/navigation.html' %}

        <div class="py-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="#">Components</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Notifications</li>
                </ol>
            </nav>
            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4">Notifications</h1>
                    <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h2 class="h4 mb-0">Notyf</h2>
                        <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/plugins/notifications/" class="btn btn-outline-gray"><i class="far fa-question-circle mr-1"></i> Documentation</a>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info" id="notifyTopLeft">Top left info</button>
                        <button class="btn btn-danger" id="notifyTopRight">Top right danger</button>
                        <button class="btn btn-warning" id="notifyBottomLeft">Bottom left warning</button>
                        <button class="btn btn-primary" id="notifyBottomRight">Primary bottom right</button>
                    </div>
                </div>
            </div>
        </div>

        {% include 'includes/footer.html' %}

    </main>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

      // Bootstrap Notify
      document.getElementById('notifyTopLeft').addEventListener('click', function (){
          const notyf = new Notyf({
              position: {
                  x: 'left',
                  y: 'top',
              },
              types: [
                  {
                      type: 'info',
                      background: '#0948B3',
                      icon: {
                          className: 'fas fa-info-circle',
                          tagName: 'span',
                          color: '#fff'
                      },
                      dismissible: false
                  }
              ]
          });
          notyf.open({
              type: 'info',
              message: 'Send us <b>an email</b> to get support'
          });
      });

      document.getElementById('notifyTopRight').addEventListener('click', function (){
          const notyf = new Notyf({
              position: {
                  x: 'right',
                  y: 'top',
              },
              types: [
                  {
                      type: 'error',
                      background: '#FA5151',
                      icon: {
                          className: 'fas fa-times',
                          tagName: 'span',
                          color: '#fff'
                      },
                      dismissible: false
                  }
              ]
          });
          notyf.open({
              type: 'error',
              message: 'This action is not allowed.'
          });
      });

      document.getElementById('notifyBottomLeft').addEventListener('click', function (){
          const notyf = new Notyf({
              position: {
                  x: 'left',
                  y: 'bottom',
              },
              types: [
                  {
                      type: 'warning',
                      background: '#F5B759',
                      icon: {
                          className: 'fas fa-exclamation-triangle',
                          tagName: 'span',
                          color: '#fff'
                      },
                      dismissible: false
                  }
              ]
          });
          notyf.open({
              type: 'warning',
              message: 'This might be dangerous.'
          });
      });

      document.getElementById('notifyBottomRight').addEventListener('click', function (){
          const notyf = new Notyf({
              position: {
                  x: 'right',
                  y: 'bottom',
              },
              types: [
                  {
                      type: 'info',
                      background: '#262B40',
                      icon: {
                          className: 'fas fa-comment-dots',
                          tagName: 'span',
                          color: '#fff'
                      },
                      dismissible: false
                  }
              ]
          });
          notyf.open({
              type: 'info',
              message: 'John Garreth: Are you ready for the presentation?'
          });
      });

  </script>
    
{% endblock javascripts %}
